*{
font-family: 'Exo', sans-serif;
}


.mt20{
	margin-top: 20px;
}
.mb20{
	margin-bottom: 20px;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}




/*notification bar*/

#hellobar-bar {
        font-family: 'Exo', sans-serif;
        width: 100%;
        margin: 0;
        height: 30px;
        display: table;
        font-size: 17px;
        font-weight: 400;
        padding: .33em .5em;
        -webkit-font-smoothing: antialiased;
        color: black;
        position: relative;
        background-color: #eff1f4;
        box-shadow: 0 1px 3px 2px rgba(0,0,0,0.15);
    }
    #hellobar-bar.regular {
        height: 30px;
        font-size: 14px;
        padding: .2em .5em;
    }
    .hb-content-wrapper {
        text-align: center;
        text-align: center;
        position: relative;
        display: table-cell;
        vertical-align: middle;
    }
    .hb-content-wrapper p {
        margin-top: 0;
        margin-bottom: 0;
    }
    .hb-text-wrapper {
        margin-right: .67em;
        display: inline-block;
        line-height: 1.3;
    }
    .hb-text-wrapper .hb-headline-text {
        font-size: 1em;
        display: inline-block;
        vertical-align: middle;
    }
    #hellobar-bar .hb-cta {
        display: inline-block;
        vertical-align: middle;
        margin: 5px 0;
        color: #ffffff;
        background-color: #0099cc;
        border-color: #0099cc;
    }
    .hb-cta-button {
        opacity: 1;
        color: #fff;
      /*  display: block;*/
        cursor: pointer;

        text-align: center;
        position: relative;

        white-space: nowrap;

        text-decoration: none;

        overflow: hidden;
    }
    .hb-cta-button .hb-text-holder {
        border-radius: inherit;
        padding: 5px 15px;
    }
    .hb-close-wrapper {
        display: table-cell;
        width: 1.6em;
    }
    .hb-close-wrapper .icon-close {
        font-size: 14px;
        top: 10px;
        right: 25px;
        width: 15px;
        height: 15px;
        opacity: .3;
        color: #000;
        cursor: pointer;
        position: absolute;
        text-align: center;
        line-height: 15px;
        z-index: 1000;
        text-decoration: none;
    }

/* Login and Register Pages*/
p.title{
	font-size:36px;
	color:#0a469e;
	text-align: center;
}
i.material-icons{
	font-size:50px;
	margin-top: 2%;
}
div.signin {
	font-size:30px;
	color:#bd0f1c;
	text-align: center;
}
div div.signup{
	font-size:30px;
	color:#bd0f1c;
	text-align: center;
}

div div button{
	width: 200px;
	margin-top: 20px;
	margin-bottom: 35px;
	color:#fff;
}
div div div button{
	width: 200px;
	margin-top: 20px;
	margin-bottom: 35px;
	color:#fff;
}
div.shadedbox.col-lg-8.col-md-8{

	margin-left: 16.67%;
	margin-right: 16.67%;
	border-style: solid;
		 border-width: 1px;
		 background-color:#eff1f4;
		 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
div.shadedbox.col-lg-8.col-md-8{
	margin-left: 16.67%;
	margin-right: 16.67%;
	border-style: solid;
		 border-width: 1px;
		 background-color:#eff1f4;
		 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/* Instructor Station*/
p.inst_title{
	font-size:30px;
	color:#bd0f1c;
	text-align: left;
}
div div button#wait{
	margin-top:0.5%;
	width: 50px;
	border-radius: 50px;
}
div div button#export{
	margin-top:0.5%;
	width: 50px;
	border-radius: 50px;

}
div div button#logout1{
	margin-top:0.5%;
	width: 50px;
	border-radius: 50px;

}
div div button#myBtn{
	margin-top:0.5%;
	width: 50px;
	border-radius: 50px;

}
div div button i.material-icons{
	font-size:20px;
}
div div button i.fa.fa-sign-out{
	font-size:25px;
}
div div button i.fa.fa-users{
	font-size:25px;
}
div div button i.fa.fa-download{
	font-size:20px;
}
div div button i.fa.fa-envelope{
	font-size:25px;
}

div div button span.glyphicon.glyphicon-download{
	font-size:20px;
}
div div div div.col-lg-3.col-md-3{
	margin-top:10px;border-style: solid;
		 border-width: 1px; background-color:#eff1f4; border-radius:100px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div div div div.col-lg-3.col-md-3.col-lg-offset-1.col-md-offset-1{
	margin-top:17px;border-style: solid;
		border-width: 1px; background-color:#eff1f4; border-radius:100px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
div div div.col-lg-7.col-md-7{
	float:right; background-color:#fff;
}
div div div div.titlecont{
	text-align: center;
}
div div div div h2{
	margin: 0;float:center;padding:5px;color:#0b3c9a;
}
div div dir.col-lg-6.col-md-6{
	float:left;margin:0;padding:0px;
}
div div dir div.col-lg-11{
	float:left;margin:0;padding:0px; border-style: solid;
		border-width: 1px; background-color:#eff1f4; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
div div dir div div.col-xs-10.col-sm-10.col-md-10.col-lg-10{
	float:center; width:100%;
}
div div dir div div button.btn.btn-danger.incr-btn-style{
width:33.3%;
}
div div dir div div button.btn.btn-success.incr-btn-style{
width:33.3%;
}
div div dir div div span{
font-size:20px;
}
div div dir div div a.hover{
	font-size:20px;display:inline-block; width:30%;text-align:center;
}
div div dir div div div.badge{
	width:100%;font-size:16px;
}
div div dir div div hr.line{
	display: block;
		 height: 1px;
		 border: 0;
		 border-top: 1px solid #000;
		 margin: 1em 0;
		 padding: 0;
}
div div div.col-lg-6.col-md-6{
	float:right;

}
div div div div.col-lg-12.col-md-12{
	float:right;padding:0px;

}
div div div div div.col-xs-12.col-sm-12.col-md-12.col-lg-12.ecg{
	float:right;border-style: solid;
		 border-width: 1px;background-color:#eff1f4;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
div div div div div div.col-xs-6.col-sm-6.col-md-6.col-lg-6{
	float:left; padding-left:10px; padding-right:10px;
}
div div div div div div.col-xs-6.col-sm-6.col-md-6.col-lg-6.e-scenarios{
	float:left; padding-right:10px;
}
div div div div div div div.page-header{
	text-align: center;margin:0;
}
div div div div div div div h3.ecgtitle{
	text-align:center;margin-bottom:0;
}
div div div div div div div h3.etitle{
	text-align:center;margin:0;
}
div div div div div div div.btn-group-vertical{
	width:100%; font-size:20px;padding:0px;display:block;
}
div div div div div div div button.btn.btn-primary{
	font-size:20px;
}
div div div div div div div button.btn.btn-danger{
	font-size:20px;
}
div div div div div.col-xs-12.col-sm-12.col-md-12.col-lg-12.mech{
	border-style: solid;
               border-width: 1px;padding:0;float:right;margin-top:5px;background-color:#eff1f4;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
div div div div div.col-xs-12.col-sm-12.col-md-12.col-lg-12.mech-title{
text-align:center;float:center; padding-top: 10px;
}
div div div div div div.page-header{
	text-align: center;margin:0;
}
div div div div div div h3.mtitle{
	text-align: center;margin:0;
}

div div div div div div.col-xs-8.col-sm-8.col-md-8.col-lg-8.scenario-mech{
float:left; text-align:center; margin-bottom:15px; padding-left:10px; padding-right:10px;
}
div div div div div div div.btn-group-vertical.scenario-mech{
margin-left:0; text-align:center;width:100%;
}
div div div div div div div button.btn.btn-warning{
font-size:20px;
}
div div div div div div#misc{
	float:right;padding-right: 10px;
}
div div div div div div div button.btn.btn.danger.incr-btn-style.off{
	font-size:18px;float:center;
}
div div div div div div div button.btn.btn-success.incr-btn-style.on{
	font-size:18px;float:center;
}
div div div div div div div button.btn.btn.warning.incr-btn-style{
	font-size:18px;float:center;
}
div div div div div div.pressure{
	float:center;text-align:center;
}
div div div div div div span#pressuretitle{
	font-size:20px;text-align:center;
}




.slidecontainer {
										width: 100%;
										}
										.slider {
										-webkit-appearance: none;
										width: 100%;
										height: 15px;
										border-radius: 5px;
										background: #d3d3d3;
										outline: none;
										opacity: 0.7;
										-webkit-transition: .2s;
										transition: opacity .2s;
										}
										.slider:hover {
										opacity: 1;
										}
										.slider::-webkit-slider-thumb {
										-webkit-appearance: none;
										appearance: none;
										width: 25px;
										height: 25px;
										border-radius: 50%;
										background: #4CAF50;
										cursor: pointer;
										}
										.slider::-moz-range-thumb {
										width: 25px;
										height: 25px;
										border-radius: 50%;
										background: #4CAF50;
										cursor: pointer;
										}
div div div div div div div p.value{
font-size:20px;text-align:center;
										}
/* Student Station*/
div div div p.stitle{
	font-size:30px; color:#bd0f1c; text-align: center;
}

div div div div button#wait{
	margin-top:0.5%;
}
div div div div button#export{
	margin-top:0.5%;
	padding-bottom:10px;
}
div div div div button#logout{
	margin-top:0.5%;
	padding-bottom:6px;
}
 div div div div div div.col-lg-3.col-md-3{
	 margin-top:10px;border-style: solid;
            border-width: 1px; background-color:#eff1f4; border-radius:100px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }
div div div div.col-lg-7.col-md-7.studentcont{
	float:right; background-color:#fff;
}
div div div div div h2.conttitle{
	margin: 0;float:center;padding:5px;color:#0b3c9a;
}
div div div div dir div.col-lg-11.med-cont{
	float:right;border-style: solid;
               border-width: 1px; background-color:#eff1f4;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
div div div div dir div div.page-header{
	text-align: center;
}
div div div div dir div div h3.mctitle{
	text-align:center;margin:0;padding-top: 10px;
}
div div div div dir div div.col-xs-10.col-sm-10.col-md-10.col-lg-10.sec{
	float:center; width:100%;
}
div div div div dir div div button.btn.btn-danger.incr-btn-style{
	width:33.3%;
}
div div div div dir div div button.btn.btn-success.incr-btn-style{
	width:33.3%;
}
div div div div div div div.col-xs-12.col-sm-12.col-md-12.col-lg-12.gasbox{
	float:right;border-style: solid;
               border-width: 1px;background-color:#eff1f4;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
div div div div div div div div.gasb{
float:left; padding:0;
}
div div div div div div div div div.page-header{
text-align: center;margin:0;
}
div div div div div div div div div h3.gftitle{
text-align:center;margin-bottom:0;
}
div div div div div div div div div button.btn.btn-warning.incr-btn-style{
	width:33.3%;
}
div div div div div div div div div button.btn.btn-info.incr-btn-style{
	width:33.3%;
}
div div div div div div div div div.col-xs-10.col-sm-10.col-md-10.col-lg-10.sec{
	float:center; width:100%;
}
div div div div div div div div div a.hover{
	font-size:20px;display:inline-block; width:30%;text-align:center;
}
div div div div div div div div div div.badge{
	width:100%;font-size:16px;
}
div div div div div div div div div hr.line{
	display: block;
                       height: 1px;
                       border: 0;
                       border-top: 1px solid #000;
                       margin: 1em 0;
                       padding: 0;
}

div div div div div div div.col-xs-12.col-sm-12.col-md-12.col-lg-12.patientcont{
	float:right;border-style: solid;
               border-width: 1px;background-color:#eff1f4;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); margin-top:5px;
}
div div div div div div div div.col-xs-12.col-sm-12.col-md-12.col-lg-12{
	float:left; padding:0;
}
div div div div div div div div div.page-header{
	text-align: center;margin:0;
}
div div div div div div div div div h3.pcont{
	text-align:center;margin-bottom:0;
}
div div div div div div div div div button.btn.btn-danger.incr-btn-style.stdown{
	width:33.3%;
}
div div div div div div div div div button.btn.btn-primary.incr-btn-style.stup{
	width:33.3%;
}
div div div div div button#submit{
	width:50%;float:right;margin-top:5%;
}
div div div div div button span{
	font-size:20px;
}
