<!-- THIS PAGE IS FOR TESTING PURPOSES ONLY -->
<br>
<br>

<button id="pumpOn" style="margin-left: 10%; font-size: 24px" type="button">Pump On</button>		
<button id="pumpOff" type="button" style="font-size: 24px">Pump Off</button>

<input style="margin-top: 3.5%; margin-left: 10%; width: 20%;font-size: 24px" id="servoSlider" type="range" min="0" max="180" value="90" class="slider">
<output style="margin-left: 10%;font-size: 24px" id="servoValue">90</output>

<button id="valve0Open" style="margin-top: 3.5%;margin-left: 10%;font-size: 24px" type="button">Valve0 Open</button>		
<button id="valve0Close" type="button" style="font-size: 24px">Valve0 Close</button>

<br>

<button id="valve1Open" style="margin-top: 3.5%;margin-left: 10%;font-size: 24px" type="button">Valve1 Open</button>		
<button id="valve1Close" type="button" style="font-size: 24px">Valve1 Close</button>


<output style="margin-top: 3.5%;margin-left: 10%;font-size: 24px">Pressure Transducer: <span id="pressureTransducerValue" style="font-size: 24px">n/a</span>mmHg</output>

<output style="margin-top: 3.5%;margin-left: 10%;font-size: 24px">Height Sensor: <span id="heightSensorValue" style="font-size: 24px">n/a</span>inches</output>