<div id="studentContainer">

   <link href="https://fonts.googleapis.com/css?family=Exo" rel="stylesheet">
   <link href="css/styles.css" rel="stylesheet">
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"><script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
   <div class="row">
      <div class="col-lg-4 col-md-4 col-lg-offset-1 col-md-offset-1" >
         <p class="stitle"><b><i class="material-icons" style="font-size:36px">local_hospital</i>Data Portal<b></p>
      </div>
      <div class="col-lg-7 col-md-7">
         <div class="btn-group" style="float:right; ">
            <button id="myBtn" class="btn-info btn-sm hb-cta hb-cta-button" title="Messages" ><i class="fas fa-envelope"style="font-size:25px;"></i></button>
            <a type="button"class="btn btn-success btn-sm" title="Waiting Room" href="/#!/waiting-room" id="wait"><i class="fa fa-users"style="font-size:25px;"></i></a>
            <button type="button"class="btn btn-danger btn-sm" title="Export Data" id="export"> <i class="fa fa-download"style="font-size:20px;"></i></button>
            <button type="button"class="btn btn-primary btn-sm" title="Log Out" id="logout1" ng-click="logout()"><i class="fas fa-sign-out-alt"style="font-size:25px;" ng-click="logout()"></i> </button>
         </div>
      </div>
      <div class="page-header"></div>
      <div class="col-lg-12 col-md-12" >
         <!-- The Modal -->
         <div class="col-lg-5 col-md-5" id="interventionContainer">
            <style>
               table, th, td {
               border: 1px solid black;
               padding: 5px;
               }
               table {
               width:90%;
               border-spacing: 5px;
               }
               table#t01 tr:nth-child(even) {
               background-color: #eee;
               }
               table#t01 tr:nth-child(odd) {
               background-color:#fff;
               }
               table#t01 th {
               background-color: grey;
               color: white;
               }
            </style>
            <div class="" style="text-align: center;">
               <h2  class="conttitle"><b>Medication Intervention Data</b></h2>
            </div>
            <br>
            <table id="t01" style="text-align: center;">
               <tr>
                  <th>Medication</th>
                  <th>Dose</th>
                  <th>Time Administered</th>
               </tr>
               <tr ng-repeat="administration in administrations">
                  <td> {{ administration.drug }} </td>
                  <td> {{ administration.dose }} </td>
                  <td> {{ administration.time }} </td>
               </tr>
            </table>
         </div>
         <div class="col-lg-7 col-md-7 studentcont" style="z-index:1;">
            <div class="" style="text-align: center;">
               <h2  class="conttitle"><b>Graphs</b></h2>
            </div>


            </div>
         </div>
      </div>
   </div>

</div>
