<div class="row">
<style>
   .button#b1{
   background-color: #4CAF50;
   border: none;
   color: white;
   padding: 10px 10px;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 4px 2px;
   cursor: pointer;
   position: absolute; right: 0;
   margin-right: 24%;
   }
   .button#b2 {
   background-color: #bd0f1c;
   border: none;
   color: white;
   padding: 10px 10px;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 4px 2px;
   cursor: pointer;
   position: absolute; right: 0;
   }
</style>
<div class="col-lg-5 col-md-5 col-lg-offset-1 col-md-offset-1">
   <p style="font-size:30px; color:#bd0f1c; text-align: center"><b>Instructor Station<b></p>
</div>
<div class="col-lg-5 col-md-5">
   <button class="button" id=b1><i class="fa fa-users" style="font-size:16px; "></i> Waiting Room</button>
   <button class="button" id="b2"><i class="fa fa-download" style="font-size:16px; "></i> Export Data</button>
</div>
<div class="page-header"></div>

<dir class="col-lg-6 col-md-6">
   <div class="incrBtn">
   <div class="" style="text-align: left;">
      <h3 style="margin-bottom: 0">Instructor Controls</h3>
   </div>
   <div class="page-header" style="text-align: left;">
      <h4>Vital Sign Control</h4>
   </div>
   <script>
      $(document).ready(function(){
          $('[data-toggle="tooltip"]').tooltip();
      });
   </script>
   <div class="row btn-row">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
         <button id="abpUp" class="btn btn-default incr-btn-style"><span class="glyphicon glyphicon-plus"><b>10</b></span></button>
         <!--<span class="tooltip">ABP</span>-->
         <a href="#" data-toggle="tooltip" title="0 - 200mmHg">ABP</a>: <span id="abp">0</span>
         <button id="abpDown" class="btn btn-default incr-btn-style"><span class="glyphicon glyphicon-minus"><b>10</b></span></button>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
         <button id="svo2Up" class="btn btn-default incr-btn-style"><span class="glyphicon glyphicon-plus"><b>5</b></span></button>
         <!--  <span>SVO<sub>2</sub></span>-->
         <a href="#" data-toggle="tooltip" title="25% - 100%">SVO<sub>2</sub></a>: <span id="svo2">0</span>
         <button id="svo2Down" class="btn btn-default incr-btn-style"><span class="glyphicon glyphicon-minus"><b>5</b></span></button>
      </div>
   </div>
   <div class="row btn-row">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
         <button id="capUp" class="btn btn-default incr-btn-style"><span class="glyphicon glyphicon-plus"><b>5</b></span></button>
         <a href="#" data-toggle="tooltip" title="0 - 60mmHg">Cap</a>: <span id="cap">0</span>
         <button id="capDown" class="btn btn-default incr-btn-style"><span class="glyphicon glyphicon-minus"><b>5</b></span></button>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
         <button id="cvpUp" class="btn btn-default incr-btn-style"><span class="glyphicon glyphicon-plus"><b>1</b></span></button>
         <a href="#" data-toggle="tooltip" title="0 - 6mmHg">CVP</a>: <span id="cvp">0</span>
         <button id="cvpDown" class="btn btn-default incr-btn-style"><span class="glyphicon glyphicon-minus"><b>1</b></span></button>
      </div>
   </div>
   <div class="row btn-row">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
         <button id="bisUp" class="btn btn-default incr-btn-style"><span class="glyphicon glyphicon-plus"><b>1</b></span></button>
         <a href="#" data-toggle="tooltip" title="0 - 100">BIS</a>: <span id="bis">0</span>
         <button id="bisDown" class="btn btn-default incr-btn-style"><span class="glyphicon glyphicon-minus"><b>1</b></span></button>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
         <button id="esoTempUp" class="btn btn-default incr-btn-style"><span class="glyphicon glyphicon-plus"><b>1</b></span></button>
         <a href="#" data-toggle="tooltip" title="36℃ - 38℃">ESO</a>: <span id="eso">0</span>
         <button id="esoTempDown" class="btn btn-default incr-btn-style  "><span class="glyphicon glyphicon-minus"><b>1</b></span></button>
      </div>
   </div>
   <div class="row btn-row">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
         <!--col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xs-offset-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3-->
         <button id="bladTempUp" class="btn btn-default incr-btn-style"><span class="glyphicon glyphicon-plus"><b>1</b></span></button>
         <a href="#" data-toggle="tooltip" title="33.2℃ - 38.2℃">BLD</a>: <span id="bld">0</span>
         <button id="bladTempDown" class="btn btn-default incr-btn-style"><span class="glyphicon glyphicon-minus"><b>1</b></span></button>
      </div>
</dir>
</div>
<script src="../js/sessionSocket.js"></script>