<link href="https://fonts.googleapis.com/css?family=Exo" rel="stylesheet">
<link href="css/styles.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

		<p class="title" ><b><i class="material-icons">local_hospital</i> Perfusion Simulation System<b></p>

</br>
</br>
</br>
<div class="shadedbox col-lg-8 col-md-8">
	<div class="signin"> <h1>Please Sign In</h1> </div>
	<div class="row">  
		<form class="form" ng-submit="login(loginForm.email, loginForm.password)">
			<div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
				<div class="form-group">
				 	<label for="email">Email: </label>
			 	 	<input type="email" id="email" type="text" class="form-control" placeholder="Email" required ng-model="loginForm.email">
			 	 </div>
			 	 <div class="form-group">
				 	<label for="password">Password: </label>
			 	 	<input id="password" type="password" class="form-control" placeholder="Password" required ng-model="loginForm.password">
			 	 </div>
			</div>
			<div style="text-align: center;">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			 	 	<button type="submit" id="signin-btn" class="btn btn-lg btn-default">Sign in</button>
					</br>
			 	</div>
			</div>
 	 	</form>
	</div>
	<div style="text-align: center;">
 		<a href="#!/register">Don't have an account? Sign Up</a>


 	</div>
	</br>
</div>

<script type="text/javascript">
	$('#password').keypress(function (e) {
		 var key = e.which;
	 	if(key == 13)  // the enter key code
	 	 {
	  	  $('#signin-btn').click();
	   	 return false;  
	  }
	});

	$('#email').keypress(function (e) {
	 var key = e.which;
	 if(key == 13)  // the enter key code
	  {
	    $('#signin-btn').click();
	    return false;  
	  }
	});
</script>
