<link href="css/styles.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Exo" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
  <p class="title" ><b><i class="material-icons">local_hospital</i> Perfusion Simulation System<b></p>

</br>
</br>
</br>
    <form class="form" ng-submit="register(registerForm.firstName,registerForm.lastName,registerForm.email,registerForm.password)">
        <div class="shadedbox col-lg-8 col-md-8">
            <div class="signup"> <h1>New User Sign Up</h1> </div>

            <label for="firstName">First Name: </label>
            <input id="firstName" type="text" placeholder="First Name" class="form-control" ng-model="registerForm.firstName" required>
            <label for="lastName">Last Name: </label>
            <input id="lastName" type="text" placeholder="Last Name" class="form-control" ng-model="registerForm.lastName" required>

            <label for="email">E-mail Address: </label>
            <input id="email" type="email" class="form-control" placeholder="E-mail Address" ng-model="registerForm.email" required>

            <label for="verifyEmail">Verify E-mail Address: </label>
            <input id="verifyEmail" type="email" class="form-control" placeholder="Verify E-mail Address" required>

            <label for="password">Password: </label>
            <input id="password" type="password" class="form-control" placeholder="Password" ng-model="registerForm.password" required>

            <label for="verifyPassword">Verify Password: </label>
            <input id="verifyPassword" type="password" class="form-control" placeholder="Verify Password" required>

            <div style="text-align: center;">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <button type="submit" id="signin-btn" class="btn btn-lg btn-default">Register</button>
                </div>
            </div>

            <div style="text-align: center;">
                <a href="#!/login">Already have an account? Sign In</a>
            </div>
        </br>
        </div>
    </form>
  
    <script type="text/javascript">
        var password = document.getElementById("password")
          , confirm_password = document.getElementById("verifyPassword");

        function validatePassword(){
          if(password.value != confirm_password.value) {
            confirm_password.setCustomValidity("Passwords Don't Match");
          } else {
            confirm_password.setCustomValidity('');
          }
        }

        password.onchange = validatePassword;
        confirm_password.onchange = validatePassword;
    </script>
</div>
