<button ng-click="addSessions()"> Add Random Sessions</button>
<button ng-click="deleteSessions()"> Delete Sessions</button>

<div ng-repeat="session in sessions">
    <div>ABP</div>
    <div>{{session.ABP}}</div>
    <hr>
    <div>ALP</div> 
    <div>{{session.ALP}}</div> 
    <hr>
    <div>SVO2</div>
    <div>{{session.SVO2}}</div>
    <hr>
    <div>CVP</div>
    <div>{{session.CVP}}</div>
    <hr>
    <div>Temp</div> 
    <div>{{session.Temp}}</div> 
    <hr>
    <div>BIS</div>
    <div>{{session.BIS}}</div>
    <hr>
    <div>LMP</div>
    <div>{{session.LMP}}</div>
    <hr>
    <div>FIO2</div> 
    <div>{{session.FIO2}}</div> 
    <hr>
</div>