<div style="margin-left: 5%; margin-top: 5%">
	<div style="width: = 10%; font-size: 20px" >
		<div style="width: = 10%" id="v1">100</div>	

		<button style="width: = 5%" id="v1Up">+10</button>

		<button style="width: = 5%" id="v1Down">-10</button>
	</div>

	<br>

	<div style="width: = 10%; font-size: 20px" >
		<div style="width: = 10%" id="v2">200</div>	

		<button style="width: = 5%" id="v2Up">+20</button>

		<button style="width: = 5%" id="v2Down">-20</button>
	</div>

	<br>

	<div style="width: = 10%; font-size: 20px" >
		<div style="width: = 10%" id="v3">300</div>	

		<button style="width: = 5%" id="v3Up">+30</button>

		<button style="width: = 5%" id="v3Down">-30</button>
	</div>
</div>

<script src="../js/sessionSocket.js"></script>

