<link href="css/styles.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Exo" rel="stylesheet">
  <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>

<div class="container">
  <div class="col-md-12 col-lg-12">
    <button type="button"class="btn btn-primary btn-sm" title="Log Out" id="logout1"style= "	margin-top:0.5%;
    	width: 50px; border-radius: 50px; float:right;" ng-click="logout()"><i class="fas fa-sign-out-alt" style="font-size:25px;"></i> </button>
    <p class="title"><b><i class="material-icons">local_hospital</i> Perfusion Simulation System<b></p>

<div class="signin"><h1> Waiting Room</h1></div>


</div>
    <div class="col-md-4 col-lg-4" style= "border-style: solid;
  		border-width: 1px; background-color:#eff1f4; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
      <h3 style="float:middle; text-align:center;">Instructors</h3>
      <div ng-repeat="(key, user) in users | filter:{isInstructor: true}">
        <i class="far fa-user-circle" style="font-size:40px; color:#bd0f1c;"></i>
        <span style="font-size:20px;">{{user.email}}</span>
      </div>
       <a href="/#!/instructor-station" class="btn btn-lg btn-danger" style="float:middle; text-align:center;width:100%; margin-top:50px;margin-bottom:20px;" >Instructor Station</a>
     </br>
    </div>

    <div class="col-md-4 col-lg-4" >

    </div>

    <div class=" col-md-4 col-lg-4" style= " border-style: solid;
  		border-width: 1px; background-color:#eff1f4; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
      <h3 style="float:middle; text-align:center;">Students</h3>
      <div ng-repeat="(key, user) in users | filter:{isInstructor: false}">
        <i class="far fa-user-circle" style="font-size:40px; color:#50b867;"></i>
        <span style="font-size:20px;">{{user.email}}</span>
      </div>
      <a class="btn btn-lg btn-success" href="/#!/student-station"style="float:middle; text-align:center; width:100%;margin-top:50px;margin-bottom:20px;">Student Station</a>
    </br>
    </div>
</div>
  <br>

</div>
