<link href="css/styles.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Exo" rel="stylesheet">
<div class="container">
  <div class="col-md-12 col-lg-12">
    <h1 style="text-align: center;">Perfusion Simulator Waiting Room</h1>


    <div class="col-md-offset-2 col-md-6 col-lg-offset-2 col-lg-6" >
      <h3>Instructors</h3>

       <a href="/#!/instructor-station" class="btn btn-lg btn-danger">Start Session</a>
    </div>

    <div class="col-md-offset-2 col-md-6 col-lg-offset-2 col-lg-6">
      <h3>Students</h3>

      <a class="btn btn-lg btn-success" href="/#!/student-station">Student Station</a>
    </div>
</div>
  <br>

</div>
