<div class="container">  
  <div class="col-md-12 col-lg-12">
    <h1 style="text-align: center;">Perfusion Simulator Waiting Room</h1>
  </div>
  <div class="row" style="margin-top: 10%">
    <div class="col-md-offset-2 col-md-4 col-lg-offset-2 col-lg-4">
      <h3>Instructors</h3>
      <div>...todo...</div>
      <button class="btn btn-lg btn-primary">Instructor Station</button>
    </div>

    <div class="col-md-offset-2 col-md-4 col-lg-offset-2 col-lg-4">
      <h3>Students</h3>
      <div>...todo...</div>
      <button class="btn btn-lg btn-primary">Student Station</button>
    </div>
  </div>
  <br>
  <div class="mt20" style="text-align: center;">
      <button class="btn btn-lg btn-success" style="margin-top: 30px;"><a href="#!/data-portal"></a></button>
  </div>
</div>
